<html>
<body>
<h1 align="center">Hello, from ansible managed server!</h1>
<h1 align="center">My VPC IP is {{ hostvars['user03machine']['ansible_host'] }}</h1>
<h1 align="center" color="red">{{ food }}</h1> 
<a href="countries.html">Countries</a>
</body>
</html>
